# ===== Node.js dependencies =====
backend/node_modules/

# ===== Logs =====
*.log

# ===== IDE / Editor =====
.idea/
.idea/*                # ignora todo dentro de .idea
!workspace.xml         # excepto workspace.xml si lo quieres trackear
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Workspace / Shelf (IDE-specific) =====
.shelf/
httpRequests/

# ===== Build / Temporary folders =====
dist/
build/

# ===== Archivos sensibles =====
backend/.env
.env
.env.*

# ===== PDFs generados dinámicamente =====
backend/boletas/


